.links {
  display: flex;
  gap: 1rem;
}

.page-section {
  max-height: 100dvh;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  &:not(.container) > *:last-child {
    flex: 1;
  }

  &.hero-container {
    gap: 2rem;
    padding-block: 2rem;
  }

  &.work-container {
    padding-block: 2rem;
    border-top: 1px solid var(--secondary);
    border-bottom: 1px solid var(--secondary);
  }

  &.hobbies-container {
    padding-block: 2rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 2rem;
  align-items: center;
  justify-content: center;

  &.work {
    padding-inline: 0;
  }

  &.hobbies {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}

@media (max-width: 576px) {
  .hero-container {
    justify-content: flex-start;
  }
}
