.tabs {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
}

.tabs-container {
  display: flex;
  gap: 0.25rem;

  & > * {
    flex: 1;
  }

  [data-active="true"] {
    background-color: var(--secondary);
    color: var(--text);
  }
}
