.work-details-container {
  button {
    background: none;
    border: none;
  }

  .work-projects {
    display: flex;
  }
}

.companies-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  list-style: none;
}

@media (max-width: 540px) {
  .work-details-container {
    flex-direction: column;
  }

  .companies-list {
    display: flex;
    flex-direction: row;
  }
}
